html, body {
  font-family: sans-serif;
  border: 0px;
  margin: 0px;

  height: 200vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

* {
  transition-timing-function: ease-in;
  transition: 0.2s;
}

#app {
  width: 800px;
}

@import './ComponentsHeaderRow.scss'
