.app-body {
  -webkit-transition: left 2s, background-color 2s, -webkit-transform 2s;
  transition: left 1s, background-color 2s, transform 2s;
  left: 4vw;

  &.tableofcontents {
    left: 366px;
  }
}
