.recent-sectional {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
  line-height: 24px;
  font-size: 14px;
  word-wrap: break-word;
  padding: 0px;
  margin: 0px;

  li {
    white-space: nowrap;
    list-style: none;
    margin-right: 8px;
  }

  .label {
    color: #B03436;
  }

  .recent-sectional-title {
    a {
      color: black;
      text-decoration: none;

      &:hover {
        color: #B03436;
      }
    }
  }
}
