.table-of-contents-component {
  position: absolute;
  top: 60px;
  left: -350px;
  width: 350px;
  background-color: #2a2a2a;
  padding: 12px 0px;

  transition: left 1s, background-color 2s, transform 2s;

  &.open {
    left:0px;
  }

  .content-component {
    padding: 20px;
    width: 100%;
  }
}
